# Python compiled files
*.pyc
__pycache__/

# Virtual environment
venv/

# Database files
*.db

# Log files
*.log

# Environment file (for secrets)
.env

# VS Code settings
.vscode/

gmail_credentials.json
gmail_token.pickle
